@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    /* color palate */
    --primary-color: #7b61ff;
    --secondary-color: #f6f4ff;
    --footer-color: #f9f9f9;
  
    /* font size & weight */
    --title-font-size: 2rem;
    --small-font-size: 1.3rem;
    --h2-font-weight: 600;
  
    /* card-gap */
    --card--gap: 3.2rem;
  
    --conatiner--size: 73%;
  }
  *{
      margin: 0%;
      padding: 0%;
      border: none;
    }
    html {
        scroll-behavior: smooth;
        /* font-size: 10px; */
        font-family: 'Poppins', sans-serif;
        line-height: 3.2rem;
        overflow-x: hidden;
      }

      
      
      #mainContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 50vh;
        padding-top: 60px;
        margin-top: 50px;
      }
      
      canvas{
        /* width: 70%; */
        /* box-sizing: border-box; */
        margin: 100px;
      }
      #title{
        font-size: 2rem;
        font-weight: 600;
        margin-bottom: 20px;
        margin-left: 100px;
        margin-top: 50px;
      }
      
.graphBtn{
  background-color: var(--primary-color);
  color: white;
  font-size: 1.5rem;
  padding-inline: 30px;
  padding-block: 10px;
  border-radius: 5px;
}
.graphBtn:hover{
  background-color: var(--secondary-color);
  color: #7b61ff;
  cursor: pointer;
  transition: 0.5s;
}

#btnContainer{
  width: 50%;
  display: flex;
  margin-left: 100px;
  justify-content: space-evenly;
}


footer {
  background: var(--footer-color);
  padding-top: 120px;
  padding-bottom: 120px;
  margin-top: 120px;
  box-sizing: border-box;
}

.footer-sections {
  display: grid;
  grid-template-columns: 0.5fr 3fr 1fr 1fr 1fr;
  /* align-items: center;  */
  justify-content: space-between;
}
.footer-sections ul {
  margin-top: 2rem;
}
.footer-section p {
  font-size: 1rem;
  width: 354px;
    line-height: 1.9;
    margin-block: 1rem 2rem;
    color: #5b5b5b;
  }
  .footer-section a {
    color: #5b5b5b;
    font-size: 1rem;
  }
  .footer-section h3 {
    font-size: 1rem;
  }
  
  .footer-social-icons {
    display: flex;
    gap: 3rem;
  }
  
  .footer-section:last-child {
    margin-left: auto;
    margin-right: 4rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .footer-section:last-child form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
  }
  .footer-section:last-child label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.2;
    background-color: #fff;
    color: #5b5b5b;
    padding-left: 5px;
  }
  
  .footer-section:last-child input {
    border: none;
    outline: none;
    margin-top: 0.5rem;
    font-size: 1rem;
    color: black;
    background-color: white;
  }
  
  .footer-section:last-child img {
    margin-right: 1rem;
  }
  .form-section {
    display: flex;
    justify-content: center;
    line-height: 1.2;
    background-color: #fff;
    align-items: center;
    font-size: 1rem;
    padding: 1rem 2rem;
    padding-right: 3rem;
    border-radius: 12px;
  }
  .footer-section:last-child button {
    outline: none;
    border: none;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
    padding: 2rem;
    border-radius: 12px;
    cursor: pointer;
  }
  .footer-section:last-child button img {
    margin-right: 0;
  }
  footer{
    width: 100vw;
  }
  ul {
    list-style: none;
  }
  a{
    text-decoration: none;
    color: black;
  }
  .imageContainer{
    width: 50%;
    padding: 30px;
  }
  .navigatorContainers{
    width: 50vw;
    /* color: var(--secondary-color); */
    padding: 30px;
    display: flex;
    justify-content: space-evenly;
  }
  .navigatorContainers a{
    color: var(--secondary-color);
  }
  #navBarContainer{
    display: flex;
    justify-content: space-between;
    width: 100vw;
  }
  
  #navBarContainer{
    height: 100px;
    /* box-sizing: border-box; */
    background-color: #7b61ff;
  }