@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    /* color palate */
    --primary-color: #7b61ff;
    --secondary-color: #f6f4ff;
    --footer-color: #f9f9f9;
}
#navBar{
    display: flex;
    /* color: black; */
    align-items: center;
    justify-content: space-between;
    font-size: 2rem;
    
}
#loginStrip{
    font-size: 2rem;
}
#navigators a{
    text-decoration: none;
    color: var(--secondary-color);
}
#navigators{
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
}
#navigators a:hover{
    color: black;
}
#navBarContainer{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    background-color: var(--primary-color);
    color: var(--secondary-color);
    height: fit-content;
}
#logoContainer{
    padding-inline: 50px;
    padding-block: 10px;
}