@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    /* color palate */
    --primary-color: #7b61ff;
    --secondary-color: #f6f4ff;
    --footer-color: #f9f9f9;
  
    /* font size & weight */
    --title-font-size: 2rem;
    --small-font-size: 1.3rem;
    --h2-font-weight: 600;
  
    /* card-gap */
    --card--gap: 3.2rem;
  
    --conatiner--size: 73%;
  }
  *{
      margin: 0%;
      padding: 0%;
      border: none;
    }
    html {
        scroll-behavior: smooth;
        /* font-size: 10px; */
        font-family: 'Poppins', sans-serif;
        line-height: 3.2rem;
        overflow-x: hidden;
      }

      #navBarContainer{
        height: 80px;
        background-color: #7b61ff;
    }


#mainContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  padding-top: 60px;
  margin-top: 50px;
}



#toursContainer{
  /* height: fit-content; */
  /* margin-inline: 20px; */
  /* border-radius: 20px; */
  /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); */
  /* padding: 60px; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
img{
  margin: auto;
  border-radius: 10px;
}
.tourCard{
  /* width: 30%; */
  box-sizing: border-box;
  padding: 30px;
  border-radius: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 16px;
  background-color: var(--secondary-color);
}
.strip{
  display: flex;
  justify-content: space-between;
}
.tourCardImage img{
  max-width: 100%;
  /* height: 300px;    */
  box-sizing: border-box;
  margin-bottom: auto;
}
.smallBtn{
  padding: 10px;
  background-color: var(--primary-color);
  border-radius: 10px;
}
.smallBtn:hover{
  background-color: var(--secondary-color);
  color: var(--primary-color);
  transition: 0.5s;
}
.authBtn{
font-size: 2rem;
color: white;
background-color: var(--primary-color);
  border-radius: 10px;
  padding-inline: 20px;
  padding-block: 5px;
  margin-top: 10px;
}
.authBtn:hover{
background-color: var(--secondary-color);
  color: var(--primary-color);
  transition: 0.5s;
}




footer {
    background: var(--footer-color);
    padding-top: 120px;
    padding-bottom: 120px;
    margin-top: 120px;
    box-sizing: border-box;
  }
  
  .footer-sections {
    display: grid;
    grid-template-columns: 0.5fr 3fr 1fr 1fr 1fr;
    /* align-items: center;  */
    justify-content: space-between;
  }
  .footer-sections ul {
    margin-top: 2rem;
  }
  .footer-section p {
    font-size: 1rem;
    width: 354px;
    line-height: 1.9;
    margin-block: 1rem 2rem;
    color: #5b5b5b;
  }
  .footer-section a {
    color: #5b5b5b;
    font-size: 1rem;
  }
  .footer-section h3 {
    font-size: 1rem;
  }
  
  .footer-social-icons {
    display: flex;
    gap: 3rem;
  }
  
  .footer-section:last-child {
    margin-left: auto;
    margin-right: 4rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .footer-section:last-child form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
  }
  .footer-section:last-child label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.2;
    background-color: #fff;
    color: #5b5b5b;
    padding-left: 5px;
  }
  
  .footer-section:last-child input {
    border: none;
    outline: none;
    margin-top: 0.5rem;
    font-size: 1rem;
    color: black;
    background-color: white;
  }
  
  .footer-section:last-child img {
    margin-right: 1rem;
  }
  .form-section {
    display: flex;
    justify-content: center;
    line-height: 1.2;
    background-color: #fff;
    align-items: center;
    font-size: 1rem;
    padding: 1rem 2rem;
    padding-right: 3rem;
    border-radius: 12px;
  }
  .footer-section:last-child button {
    outline: none;
    border: none;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
    padding: 2rem;
    border-radius: 12px;
    cursor: pointer;
  }
  .footer-section:last-child button img {
    margin-right: 0;
  }
  footer{
    width: 100vw;
  }
  ul {
    list-style: none;
  }
  a{
    text-decoration: none;
    color: black;
  }